
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>

<script>
    Swal.fire({
        icon: "error",
        title: "Wrong UserName or Password",
        text: "Something went wrong!",

    });
</script>

